/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jul 22, 2023, 5:34:52 AM
    Author     : Raiku
*/

body {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap: 1rem;
}

table, th, td{
    font-size: 1.2rem;
}
th{
    background-color: #D19C97;
}
tbody > tr{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: .5rem 1rem;
}

button{
    font-size: .8em;
    padding: .1rem;
}