<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductQuantityController</servlet-name>
        <servlet-class>Controller.UpdateProductQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductFromCart</servlet-name>
        <servlet-class>Controller.RemoveProductFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountController</servlet-name>
        <servlet-class>Controller.DiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReloadShoppingCartController</servlet-name>
        <servlet-class>Controller.ReloadShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDirectController</servlet-name>
        <servlet-class>Controller.OrderDirectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagerController</servlet-name>
        <servlet-class>Controller.OrderManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>Controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderBankTranferController</servlet-name>
        <servlet-class>Controller.OrderBankTranferController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderPaypalController</servlet-name>
        <servlet-class>Controller.OrderPaypalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusOrderController</servlet-name>
        <servlet-class>Controller.updateStatusOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagerSortFilterController</servlet-name>
        <servlet-class>Controller.OrderManagerSortFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessengerManagerController</servlet-name>
        <servlet-class>Controller.MessengerManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>openChatRoomController</servlet-name>
        <servlet-class>Controller.openChatRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChatRoomAddress</servlet-name>
        <servlet-class>Controller.GetChatRoomAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMessageController</servlet-name>
        <servlet-class>Controller.UpdateMessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByPriceController</servlet-name>
        <servlet-class>Controller.FilterByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSellerController</servlet-name>
        <servlet-class>Controller.LoginSellerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProductController</servlet-name>
        <servlet-class>Controller.AddNewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagerController</servlet-name>
        <servlet-class>Controller.ProductManagerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductQuantityController</servlet-name>
        <url-pattern>/UpdateProductQuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductFromCart</servlet-name>
        <url-pattern>/RemoveProductFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountController</servlet-name>
        <url-pattern>/DiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReloadShoppingCartController</servlet-name>
        <url-pattern>/ReloadShoppingCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDirectController</servlet-name>
        <url-pattern>/OrderDirectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagerController</servlet-name>
        <url-pattern>/OrderManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/OrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderBankTranferController</servlet-name>
        <url-pattern>/OrderBankTranferController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderPaypalController</servlet-name>
        <url-pattern>/OrderPaypalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusOrderController</servlet-name>
        <url-pattern>/updateStatusOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagerSortFilterController</servlet-name>
        <url-pattern>/OrderManagerSortFilterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessengerManagerController</servlet-name>
        <url-pattern>/MessengerManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>openChatRoomController</servlet-name>
        <url-pattern>/openChatRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChatRoomAddress</servlet-name>
        <url-pattern>/GetChatRoomAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMessageController</servlet-name>
        <url-pattern>/UpdateMessageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterByPriceController</servlet-name>
        <url-pattern>/FilterByPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSellerController</servlet-name>
        <url-pattern>/LoginSellerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProductController</servlet-name>
        <url-pattern>/AddNewProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagerController</servlet-name>
        <url-pattern>/ProductManagerController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3600
        </session-timeout>
    </session-config>
</web-app>
